<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>95</integer>
			<key>BValue</key>
			<integer>59</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>42</integer>
			<key>BValue</key>
			<integer>104</integer>
		</dict>
	</dict>
	<key>Orange</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>159</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>84</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>254</integer>
			<key>GValue</key>
			<integer>141</integer>
			<key>BValue</key>
			<integer>88</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>212</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Green</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>61</integer>
			<key>GValue</key>
			<integer>207</integer>
			<key>BValue</key>
			<integer>50</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>6</integer>
			<key>GValue</key>
			<integer>190</integer>
			<key>BValue</key>
			<integer>128</integer>
		</dict>
	</dict>
	<key>Jewel</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>40</integer>
			<key>GValue</key>
			<integer>224</integer>
			<key>BValue</key>
			<integer>173</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>13</integer>
			<key>GValue</key>
			<integer>151</integer>
			<key>BValue</key>
			<integer>217</integer>
		</dict>
	</dict>
	<key>Blue</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>46</integer>
			<key>GValue</key>
			<integer>213</integer>
			<key>BValue</key>
			<integer>250</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>36</integer>
			<key>GValue</key>
			<integer>103</integer>
			<key>BValue</key>
			<integer>236</integer>
		</dict>
	</dict>
	<key>Purple</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>195</integer>
			<key>GValue</key>
			<integer>78</integer>
			<key>BValue</key>
			<integer>248</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>89</integer>
			<key>GValue</key>
			<integer>89</integer>
			<key>BValue</key>
			<integer>211</integer>
		</dict>
	</dict>
	<key>Pink</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>252</integer>
			<key>GValue</key>
			<integer>56</integer>
			<key>BValue</key>
			<integer>166</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>244</integer>
			<key>GValue</key>
			<integer>10</integer>
			<key>BValue</key>
			<integer>92</integer>
		</dict>
	</dict>
	<key>Midnight</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>101</integer>
			<key>GValue</key>
			<integer>40</integer>
			<key>BValue</key>
			<integer>189</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>36</integer>
			<key>GValue</key>
			<integer>25</integer>
			<key>BValue</key>
			<integer>55</integer>
		</dict>
	</dict>
</dict>
</plist>
