<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>95</integer>
			<key>BValue</key>
			<integer>59</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>42</integer>
			<key>BValue</key>
			<integer>104</integer>
		</dict>
	</dict>
	<key>Blue</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Green</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Black</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Pink</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Purple</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
