<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Red</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>95</integer>
			<key>BValue</key>
			<integer>59</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>42</integer>
			<key>BValue</key>
			<integer>104</integer>
		</dict>
	</dict>
	<key>Orange</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>149</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>255</integer>
			<key>GValue</key>
			<integer>94</integer>
			<key>BValue</key>
			<integer>58</integer>
		</dict>
	</dict>
	<key>Yellow</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>253</integer>
			<key>GValue</key>
			<integer>243</integer>
			<key>BValue</key>
			<integer>3</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>254</integer>
			<key>GValue</key>
			<integer>177</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Blue</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>46</integer>
			<key>GValue</key>
			<integer>213</integer>
			<key>BValue</key>
			<integer>250</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>36</integer>
			<key>GValue</key>
			<integer>103</integer>
			<key>BValue</key>
			<integer>236</integer>
		</dict>
	</dict>
	<key>Green</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>99</integer>
			<key>GValue</key>
			<integer>249</integer>
			<key>BValue</key>
			<integer>72</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>3</integer>
			<key>GValue</key>
			<integer>193</integer>
			<key>BValue</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>Black</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>74</integer>
			<key>GValue</key>
			<integer>74</integer>
			<key>BValue</key>
			<integer>74</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>43</integer>
			<key>GValue</key>
			<integer>43</integer>
			<key>BValue</key>
			<integer>43</integer>
		</dict>
	</dict>
	<key>Pink</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>0</integer>
			<key>BValue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Purple</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>195</integer>
			<key>GValue</key>
			<integer>78</integer>
			<key>BValue</key>
			<integer>248</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>89</integer>
			<key>GValue</key>
			<integer>89</integer>
			<key>BValue</key>
			<integer>211</integer>
		</dict>
	</dict>
	<key>Cyan</key>
	<dict>
		<key>HighlightColour</key>
		<dict>
			<key>RValue</key>
			<integer>2</integer>
			<key>GValue</key>
			<integer>255</integer>
			<key>BValue</key>
			<integer>252</integer>
		</dict>
		<key>BaseColour</key>
		<dict>
			<key>RValue</key>
			<integer>0</integer>
			<key>GValue</key>
			<integer>208</integer>
			<key>BValue</key>
			<integer>198</integer>
		</dict>
	</dict>
</dict>
</plist>
